/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
body {
    /* margin: auto; */
    /* color: whitesmoke; */
    background-color:  rgb(23, 33, 53);

    /* background: linear-gradient(90deg, rgb(46, 71, 121) 0%, rgb(18, 39, 80) 100%); */
    width: 100%;
    /* font-size: 11px; */
    font-family: "Inter", sans-serif;
  }

section.crypto-Container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(327px, 3fr));
  column-gap: 24px;
  row-gap: 32px;
  width: 80%;
    justify-content: center;
    margin: 0 auto;
}

.card {
    background-color: rgb(17, 63, 154);
    border-radius: 12px;
    margin: 0 auto;

    
}

.symbolD {
    display: flex;
    justify-content: space-between ;
}

.firstRow {
    display: flex;
    justify-content: space-between ;
}

.secondRow {
    display: flex;
    justify-content: space-between ;
}

.cardImage {
  width: 60px;
                 height: 60px;
}